<div class="searchBox">
      <div class="searchCity">
        
          <select [(ngModel)]="selectedCity.id" (change)="onSelect($event.target.value)">
          <option value="0">Select City</option>
          <option *ngFor="let city of cities" value= {{city.id}}>{{city.name}}</option>
          </select>
          <!--<div class="searchArea" >-->
            <select>
            <option *ngIf='selectedCity.id == 0' value="0">Select Area</option>
            <option *ngFor="let area of areas " value= {{area.id}}>{{area.name}}</option>
            </select>
          <!--</div>-->
       </div>
       <div class="searchLevel">
        <select  name="level" >
          <!-- [(ngModel)]="search.level" -->
        <option>Select Level</option>
        <option>Cook Tier 5(Chef)</option>
        <option>Cook Tier 4(Best)</option>
        <option>Cook Tier 3(Better)</option>
        <option>Cook Tier 2(Good)</option>
        <option>Cook Tier 1(Average)</option>
        </select>
        </div> 
       
      <div class="searchButton" >
      <button type="submit"  class="btn btn-default">Submit</button>
      </div>
      <div class="searchText" >
        <input type="text"  placeholder="Search">
      </div>
      <div class="clear"></div>
</div>