<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
       <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cook Level
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Cook Tier 4(Best)</a></li>
    <li><a href="#">Cook Tier 3(Better)</a></li>
    <li><a href="#">Cook Tier 2(Good)</a></li>
    <li><a href="#">Cook Tier 1(Average)</a></li>
  </ul>
</div> 
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select City
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Bangalore</a></li>
    <li><a href="#">New Delhi</a></li>
    <li><a href="#">Mumbai</a></li>
    <li><a href="#">Kolkata</a></li>
  </ul>
</div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>