<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BookMyCook</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About us <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Vision</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Our Mission</a></li>
        </ul>
      </li>
      <li><a href="#">Working Procedure</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown"><a class="dropdown-toggle" class="glyphicon glyphicon-user" data-toggle="dropdown" href="#">SignUp <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/signup">I am Cook</a></li>
          <li><a href="#">I need Cook</a></li>
          
        </ul>
      </li>
     <!-- <li><a routerLink="/signup"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li> -->
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>